<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Enter meeting name</h2>
<form >
  <input name="meetingName" />
</form>
<ul class="spl-top-menu">
  Top menu
  <button>
    <h2><a data-onclick="startMeeting" target="_blank" href="https://angular.io/tutorial">Start meeting</a></h2>
  </button>
  <button>
    <h2><a data-onclick="joinMeeting" target="_blank" href="https://github.com/angular/angular-cli/wiki">Join meeting</a></h2>
  </button>
</ul>

